footer.footer
    .container_center
        .footer__content
            .footer__head
                .footer__logo
                    img(src="img/footer-logo.svg", alt="")
                .footer__app
                    .footer__text.app__text Скачать приложение United Brokers:
                    img.footer__icon(src="img/windows.svg", alt="")
                    img.footer__icon(src="img/web-terminal.svg", alt="")
                    img.footer__icon(src="img/apple.svg", alt="")
                    img.footer__icon(src="img/google-play.svg", alt="")
                .footer__contacts
                    .footer__text +7 (900) 222-99-99
                    .footer__text info@unitedbrokers.io
                .footer__action
                    button.btn.footer__button(type="button") Личный кабинет
            .footer__linkBox
                .footer__item
                    .footer__section Торговля
                    .footer__link
                        a(href="#") Платформы
                        a(href="#") Типы счетов
                        a(href="#") Условия торговли

                .footer__item
                    .footer__section Рынки
                    .footer__link
                        a(href="#") Валютный рынок
                        a(href="#") Фондовый рынок
                        a(href="#") Товарный рынок
                        a(href="#") Индексы
                        a(href="#") Криптовалюты


                .footer__item
                    .footer__section Клиентам
                    .footer__link
                        a(href="#") Аналитика
                        a(href="#") Новости
                        a(href="#") Обучение
                        a(href="#") Советы трейдерам
                        a(href="#") Программа лояльности

                .footer__item
                    .footer__section О нас
                    .footer__link
                        a(href="#") Контакты
                        a(href="#") Документы
                        a(href="#") Сохранность средств
                        a(href="#") Вакансии
                        a(href="#") О компании
                .footer__item.mob
                    .footer__section Контакты
                    .footer__link
                        a(href="tel:+7 (900) 222-99-99") +7 (900) 222-99-99
                        a(href="#") info@unitedbrokers.io

                .footer__item
                    .footer__section Документы
                    .footer__link.documents
                        a(href="#") Клиентское соглашение
                        a(href="#") Политика конфиденциальности
                        a(href="#") Политика возврата платежей
                        a(href="#") Свидетельство о регистрации
                        a(href="#") Политика AML
            .footer__bottom
                .footer__text.autor © United Brokers 2021. Все права защищены. Любое использование материалов сайта без разрешения запрещено.

                .footer__text Уведомление о рисках:
                .footer__text Инвестирование в группы высокого риска: (Forex) и контрактами на разницу (CFD) является спекулятивной операцией, включая высокий риск, и не подходит для каждого инвестора. Вы можете понести как частичные, так и полные потери вложенных средств, поэтому мы не советуем инвестировать капитал, которым вы не можете рисковать. Вы должны знать о повышенном риске, связанном с использованием кредитного плеча. Мы настоятельно рекомендуем вам ознакомиться с условиями и услугами нашего веб-сайта, прежде чем начать пользоваться нашим сервисом.
