header.header
    .header__content
        .header__left
            a.header__logo(href="#")
                img(src="img/logo-header.svg", alt="")

            .header__menu
                nav.nav
                    ul.navbar
                        li.navbar__item
                            a.navbar__link(href="#") Торговля
                        li.navbar__item
                            a.navbar__link.active(href="#") Рынки
                        li.navbar__item
                            a.navbar__link(href="#") Клиентам
                        li.navbar__item
                            a.navbar__link(href="#") О нас
        .header__right
            .drop
                .drop__name
                .drop__list
                    .drop__item RU
                    .drop__item ENG
                    .drop__item RU
                    .drop__item ENG
            button.btn.lk-button(type="button") Войти
