header.header
    .header__content
        .header__left
            img.burger(src="img/burger.svg", alt="")
            a.header__logo(href="#")
                img(src="img/logo-header.svg", alt="")

            .header__menu
                nav.nav
                    ul.navbar
                        li.navbar__item
                            a.navbar__link(href="#") Торговля
                        li.navbar__item
                            a.navbar__link.active(href="#") Рынки
                        li.navbar__item
                            a.navbar__link(href="#") Клиентам
                        li.navbar__item
                            a.navbar__link(href="#") О нас
            .header__mobile
                img.close(src="img/close.svg", alt="")


        .header__right
            .drop
                .drop__name RU
                .drop__list
                    a.drop__item(href="#") RU
                    a.drop__item(href="#") ENG
                    a.drop__item(href="#") FR
                    a.drop__item(href="#") IT
            button.btn.lk-button(type="button") Войти
