extends layout.pug
block content


    // begin firstScreen
    section#firstScreen.firstScreen.section
        .container_center
            .firstScreen__content
                .firstScreen__left
                    h1.firstScreen__title Криптовалютный рынок
                    .firstScreen__subtitle Торгуйте криптовалютами на мировом финансовом рынке на конкурентоспособных условиях.

                    .firstScreen__action
                        a(href="#")
                            button.btn.firstScreen__btn Открыть счет
                .firstScreen__right
                    img(src="img/fs-img.jpg", alt="")

    // end firstScreen

    // begin advantage
    section#advantage.advantage.section
        .container_center
            .advantage__contentBox
                h2.section__title Преимущества торговли с «United Brokers» 
                .advantage__content
                    .advantage__left
                        .advantage__item
                            .advantage__name Сверхбыстрое исполнение  и высокая ликвидность
                            .advantage__desc 99,9% ордеров исполняются менее чем за 11.06 мс
                            .advantage__icon
                                img(src="img/stopwatch.svg", alt="")

                        .advantage__item
                            .advantage__name 150+ инструментов
                            .advantage__desc Forex, акции, фьючерсы, индексы, металлы и энергоресурсы
                            .advantage__icon
                                img(src="img/tool.svg", alt="")


                    .advantage__center
                        .advantage__item.advantage__item-center
                            .advantage__name Типы счетов
                            .advantage__desc Возможность торговать Mini, Standard, Classic и ProInvest счетами с одного устройства  
                            .advantage__icon
                                img(src="img/settings.svg", alt="")

                            img.advantage__img(src="img/monitor.png", alt="")
                    .advantage__right
                        .advantage__item
                            .advantage__name Мировые стандарты безопасности
                            .advantage__desc Выбирайте надежного брокера, который работает с клиентами более чем в 83 странах мира
                            .advantage__icon
                                img(src="img/protection.svg", alt="")

                        .advantage__item
                            .advantage__name Мультиязычная поддержка 24/5
                            .advantage__desc Почувствуйте себя уверенно, зная, что наша служба поддержки доступна для вас в любое время дня и ночи, с понедельника по пятницу
                            .advantage__icon
                                img(src="img/support.svg", alt="")


    // end advantage
