<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/style.css")
    body

        header.header
            .header__content
                .header__left
                    a.header__logo(href="#")
                        img(src="img/logo-header.svg", alt="")

                    .header__menu
                        nav.nav
                            ul.navbar
                                li.navbar__item
                                    a.navbar__link(href="#") Торговля
                                li.navbar__item
                                    a.navbar__link.active(href="#") Рынки
                                li.navbar__item
                                    a.navbar__link(href="#") Клиентам
                                li.navbar__item
                                    a.navbar__link(href="#") О нас
                .header__right
                    .drop
                        .drop__name
                        .drop__list
                            .drop__item RU
                            .drop__item ENG
                            .drop__item RU
                            .drop__item ENG
                    button.btn.lk-button(type="button") Войти




        main.main
            block content

        footer.footer
            // begin footer
            section#footer.footer.section
                .container_center
                    .footer__content


            // end footer
            block footer

        script(src="js/jquery.js")
        script(src="js/slick.min.js")
        script(src="js/script.js")
